body{
    margin: 0px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
#main{
    display: flex;
}
#left{
    background-color: #e0ebf4 ;
    height: 740px;
    width: 50%;
}

#logo>img{
    width: 180px;
    margin: 20px;
    cursor: pointer;
}

#image{
    width: 350px;
    margin: auto;
}
#image>img{
    width: 100%;
    margin-top: 80px;
}
#left>h1{
    text-align: center;
    margin-top: 50px;
    color: #2F4254 ;
}
#right{
  width: 60%;
}

#SignUp_btn{
    display: flex;
    width: 265px;
    justify-content: space-between;
    margin: 30px 0px 0px 471px;
    align-items: center;
    font-weight: 600;
    color: #60788e ;
}

#SignUp_btn>button{
    width: 120px;
    font-size: 15px;
    border-radius: 50px;
    height: 35px;
    background-color: transparent;
    border: solid #9db6cc ;
    color: #2F4254 ;
    transition:  0.3s 
}
#SignUp_btn>button:hover{
    background-color: #2F4254;
    border: solid #2F4254;
    color: #fff;
    cursor: pointer;
}

#fields_container{
    margin: 40px auto;
    width: 70%;

}
#heading{
    line-height: 16px;
}

#email{
    margin: 40px 0px 40px 0px;
    font-weight: 600;
    color: #60788e
}
#email>input{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    font-size: 18px;
    margin-top: -5px;
    border-radius: 6px ;
    border: #60788e solid 1px
}
#email>input::placeholder{
    color: #b3c1ce;
}

#password{
    font-weight: 600;
    color: #60788e
}

#password>input{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    font-size: 18px;
    margin-top: -5px;
    border-radius: 6px ;
    border: #60788e solid 1px
}
#password>input::placeholder{
    color: #b3c1ce;
}

#button{
    margin-top: 40px;
    width: 180px;
    font-size: 18px;
    height: 50px;
    border-radius: 100px;
    background-color: #2F4254;
    border: none;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
#button:hover{
    height: 52px;
    width: 184px;
    background-color: #3e556a;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#error{
    margin-bottom: -50px;
    text-align: end;
    margin-right: -18px;
    color: red;
}